nav {
  background-color: $anthrazit;
  width: 100vw;
  height: fit-content;
  position: sticky;
  display: flex;

  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
  }
  li {
    flex-direction: row;
  }
  a {
    color: $offwhite;
    font-family: $font-regular;
    text-decoration: none;
  }
}
