// section {
//   .polaroid {
//     margin-top: auto;
//     margin-bottom: auto;
//   }
// }

div {
  .wrapper {
    width: 100rem;
    padding: 10rem;
    text-align: center;
    display: inline-block;
  }
  .pol {
    background: #fff;
    padding: 1.5rem;
    padding-bottom: 4rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 5rem;
    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
    }
  }

  .item {
    width: 30vw;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);

    &.one {
      transition: 1s;
      transform: rotate(28deg);
      z-index: 1;
      position: relative;
      top: -3vh;
      right: -4vw;
      &:hover {
        transition: 1s;
        transform: rotate(0deg);
        z-index: 100;
        opacity: 1;
        position: relative;
        filter: grayscale(0%);
      }
    }
    &.two {
      transition: 1s;
      transform: rotate(-8deg);
      z-index: 2;
      position: relative;
      &:hover {
        transition: 1s;
        transform: rotate(0deg);
        z-index: 100;
        opacity: 1;
        position: relative;
        filter: grayscale(0%);
      }
    }
    &.three {
      transition: 1s;
      transform: rotate(-43deg);
      z-index: 3;
      position: relative;
      left: 2vw;
      &:hover {
        transition: 1s;
        transform: rotate(0deg);
        z-index: 100;
        opacity: 1;
        position: relative;
        filter: grayscale(0%);
      }
    }
    &.four {
      transition: 1s;
      transform: rotate(8deg);
      z-index: 4;
      position: relative;
      top: -70vh;
      right: -19vw;
      &:hover {
        transition: 1s;
        transform: rotate(0deg);
        z-index: 100;
        opacity: 1;
        position: relative;
        filter: grayscale(0%);
      }
    }
    &.five {
      transition: 1s;
      transform: rotate(-4deg);
      z-index: 5;
      position: relative;
      top: -64vh;
      right: -19vw;
      &:hover {
        transition: 1s;
        transform: rotate(0deg);
        z-index: 100;
        opacity: 1;
        position: relative;
        filter: grayscale(0%);
      }
    }
  }
}
